mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row.justify-content-between
				.col-lg
					+e.A.logo(href="#")
						+e.title KAROLINA#[span OPT]
						.h5 качество&nbsp;по&nbsp;выгодным&nbsp;ценам
					p © 2016-2020 интернет-магазин Karolinaopt
				.col-lg.order-lg-last
					+e.A.phone(href="tel:+8(960)803-11-61") 8&nbsp;960&nbsp;803&#8209;11&#8209;61
				.col-lg
					+e.listTitle--lg СЕРВИС&nbsp;И&nbsp;ПОДДЕРЖКА
					ul
						li: a(href="#") Как сделать заказ
						li: a(href="#") Вопросы и ответы
						li: a(href="#") Доставка
				.col-lg
					+e.listTitle О КОМПАНИИ
					ul
						li: a(href="#") О нас
						li: a(href="#") Контакты
						li: a(href="#") Наши скидки
				.col-lg
					+e.listTitle СЛЕДУЙ&nbsp;ЗА&nbsp;НАМИ
					+soc()


