mixin sMightLike()
	// start sMightLike
	+b.SECTION.sMightLike.bg-secondary.section#sMightLike&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 ВАМ МОГУТ ПОНРАВИТСЯ
			.slider--js.swiper-container
				.swiper-wrapper
					.swiper-slide
						+cardItem('1')
					.swiper-slide
						+cardItem('2')
					.swiper-slide
						+cardItem('1')
					.swiper-slide
						+cardItem('2')
			.swiper-button-next
				img(src="img/svg/chevronR.svg", alt="alt")
			.swiper-button-prev
				img(src="img/svg/chevronL.svg", alt="alt")
	// end sMightLike