mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		+e.slider--js.swiper-container
			.swiper-wrapper
				- for (var x = 0; x < 3; x++)
					+e.A.slide.swiper-slide.bg-wrap(href="#")
						img.res-i.object-fit-js(src="img/@2x/karolinaopt_4_02.png", alt="")
		.container
			.swiper-button-next
				img(src="img/svg/chevronR.svg", alt="alt")
			.swiper-button-prev
				img(src="img/svg/chevronL.svg", alt="alt")

mixin headerBlock-catalog()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		+e.slide.swiper-slide.bg-wrap
			img.res-i.object-fit-js(src="img/@2x/catalog.png", alt="бонус для Вас!")


	// end headerBlock