extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sCatalog/_sCatalog.pug 
include ../blocks/sBestsellers/_sBestsellers.pug 
include ../blocks/sSale/_sSale.pug 
include ../blocks/sPartners/_sPartners.pug 
include ../blocks/sFilter/_sFilter.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Комплект 9172'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	//- +headerBlock-catalog()
	.container
		+breadcrumb('Главная', 'Комплекты', title)
	+sFilter()
	+sCatalog()
	+horizontalLine('', 'Нам важно завоевать Ваше доверие!')(class="bg-red text-white")
	+footer()