mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container
			.row.justify-content-between.align-items-center
				.col-lg 
					+e.contacts
						+e.A.phone(href="tel:+8(960)803-11-61") 8 960 803-11-61
						+soc()
				.col.text-center
					+e.A.logo(href="#")
						+e.title KAROLINA#[span OPT]
						+e.subtitle качество по выгодным ценам
				.col-lg 
					+e.rightBlock
						+e.person
							+e.FORM.search
								+e.input-wrap.form-group
									+e.INPUT.input.form-control(type='search' name="search")
									button(type='submit')
								//- +input('',"search")
							+e.A.heart(href='#')
								+icon('heart')
							+e.A.user(href='#')
								img(src="img/@2x/user.png", alt="")
						+e.A.basket(href="") 
							img(src="img/@2x/basket.png", alt="")
	// end topLine