mixin sSale()
	// start sSale
	+b.sSale#sSale&attributes(attributes)
		.container
			.row.justify-content-center
				mixin item(i)
					.col-md-3.col-6
						+e.A.item(href="#")
							+e.imgWrap
								img(src=`img/@2x/sale-${i}.jpg` alt="")
							+e.heart
								img.active(src="img/@2x/hearBG.png", alt="")
								img.inActive(src="img/svg/heart.svg", alt="")
							+e.price 499 руб
							+e.percent 
				+item('1')
				+item('2')
				+item('1')
				+item('2')
			+e.A.sell-out(href="#") Перейти к распродаже

	// end sSale