.top-nav {
	padding-top: rem(9);
	padding-bottom: rem(10);
	// position: absolute;
	top: 100%;
	// @include clearfix;ss
	z-index: 20;
	@include mt;
	top: 0;
	left: 0;
	width: 100%;



	&.fixed {
		width: 100vw;
		bottom: auto;
		margin-top: 0;
		background-color: #fff;
	}

	&.nav-fixed {
		position: fixed;
		background-color: #fff;
	}

	&__nav {
		text-align: center;
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		@include media-breakpoint-up(xl) {
			justify-content: center;
		}
		margin-bottom: 0;
	}

	&__item {
		@include media-breakpoint-up(xl){
			margin: 0 rem(41);
		}
		// display: inline-block;
		list-style-type: none;
		position: relative;
		&::after {
			content: '';
			width: rem(5);
			height: rem(5);
			@include a-cent(y);
			right: rem(-30);
			background-color: $primary;
			border-radius: 50%;
		}

		&:last-child::after {
			content: '';
			background-image: url('../img/@2x/trazado.png');
			width: rem(22);
			height: rem(22);
			font-size: rem(16);
			color: #fff;
			background-position: center;
			background-repeat: no-repeat;
			background-color: transparent;
			background-size: rem(20);
			// display: flex;
			// justify-content: center;
			// align-items: center;
		}

	}

	&__link {
		color: $body-color;
		text-decoration: none !important;
	}

	.dropdown-menu {
		// box-shadow: 0 10px 20px 5px #fbecf1;
		@include media-breakpoint-down(md) {
			display: block;
		}
		padding: rem(10);
		@include media-breakpoint-up(lg) {
			top: 27px;
		}
		min-width: 240px;
		border-color: $primary;
		li {
			padding-bottom: rem(15);
		}
		a {
			padding-top: rem(10);
			padding-bottom: rem(10);
			font-size: $em-base;
			color: $light;
		}
	}

	.dropdown {
		// position: relative;
		&::after {
			content: '';
			width: rem(5);
			height: rem(5);
			@include a-cent(y);
			right: rem(-20);
			background-color: $primary;
			border-radius: 50%;
		}
		a {
			text-decoration: none !important;
		}
		&:hover .dropdown-menu {
			display: block !important;
		}
	}

	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

.innerPage {
	.top-nav {
		border-bottom: solid 1px #ebe6e8;
	}
}